<ion-header>

  <ion-navbar color="primary">
    <ion-title>Recupero Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item *ngIf="needCode">
    <ion-label floating>Codice Recupero</ion-label>
    <ion-input type="text" [(ngModel)]="codice"></ion-input>
  </ion-item>

  <ion-item *ngIf="needCode">
    <ion-label floating>Nuova Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.newpassword"></ion-input>
  </ion-item>

  <div *ngIf="(user.newpassword.length < min_psw_length) && (user.newpassword !== '') " margin-top padding style="color: #D8000C; background-color: #FFBABA;">
    <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
    Password inferiore agli {{min_psw_length}} caratteri!
  </div>

   <div *ngIf="errorMessage" margin-top padding style="color: #D8000C; background-color: #FFBABA;">
    <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
    {{ errorMessage }}
  </div>

  <button block large ion-button margin-top color="primary" block *ngIf="!needCode" (click)="forgot()">Invia Richiesta Recupero</button>
  <button block large ion-button margin-top color="primary" block *ngIf="needCode" (click)="confirmNew()">Aggiorna Password</button>

</ion-content>
